*{
    padding: 0;
    margin: 0;}

html{width: 100%;}

/* CONFIG NAVBAR */
.navbar{
    content: "";
    width: 100%;
    height: 10%;
    position: absolute;}

.navbar ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2em;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;}
    .navbar ul li a{
        cursor: pointer;
        padding: .5em;
        text-decoration: none;
        color: #FF0066;
        border-radius: 10px;}
        .navbar ul li a:hover{
            background-color: #FF0066;
            border-radius: 5px;
            color: white;
            transition: 350ms;}

    .menu img{display:none;}

/* CONFIG FOOTER */
footer{
    width: 100vw;
    height: 15%;
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 10em;
    position: absolute;
    background-color: black;}
    footer .redes-sociales{
        margin-left: auto;
        margin-right: auto;}
    footer .redes-sociales ul li svg {
        width: 4em;
        padding: 5px;
        border-radius: 5px;
        border-bottom: 5px solid black;
        color: #FF0066;}
        footer ul li svg:hover{
            transition: 500ms;
            border-radius: 5px;
            border-bottom: 5px solid #FF0066;
            color: #DCDCDC;}
        footer ul li {
            cursor: pointer;
            display: inline-flex;
            margin: 15px 15px;}


@media screen and (max-width: 1000px) {
    .navbar ul{
        display: flex;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;
        padding-top: 2em;
        font-size: .8em;}
        .navbar ul li a{
            padding: .5em;
            border-radius: 10px;}
            .navbar ul li a:hover{
                background-color: #FF0066;
                border-radius: 5px;
                color: white;
                transition: 350ms;}

    .navbar .menu img{display:none}

    footer{
        width: 100%;
        height: 15%;
        display: flex;
        list-style: none;
        align-items: center;
        margin-top: 10em;}
        footer .redes-sociales{
            margin-left: auto;
            margin-right: auto;}
        footer .redes-sociales ul li svg {
            width: 3em;
            padding: 5px;}
            footer ul li svg:hover{
                transition: 500ms;
                border-radius: 5px;
                border-bottom: 5px solid #FF0066;
                color: #DCDCDC;}
            footer ul li {
                cursor: pointer;
                display: inline-flex;
                margin: 15px 15px;}

}

@media screen and (max-width: 800px) {
    .navbar ul{display: none;}

    .navbar .menu img{
        display:block;
        margin-left: 85%;
        cursor: pointer;
        position: absolute;
        padding: 1em;
        width: 8%;}

    footer{
        width: 100%;
        height: 15%;
        display: flex;
        list-style: none;
        align-items: center;
        margin-top: 10em;}
        footer .redes-sociales{
            margin-left: auto;
            margin-right: auto;}
        footer .redes-sociales ul li svg {
            width: 3em;
            padding: 5px;}
            footer ul li svg:hover{
                transition: 500ms;
                border-radius: 5px;
                border-bottom: 5px solid #FF0066;
                color: #DCDCDC;}
            footer ul li {
                cursor: pointer;
                display: inline-flex;
                margin: 15px 15px;}

}