*{
    padding: 0;
    margin: 0;}

html{width: 100%;}

/* CONFIG NAVBAR */
.navbar{
    content: "";
    width: 100%;
    height: 10%;
    position: absolute;
    display: block;}

.navbar ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2em;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-size: .9em;}
    .navbar ul li a{
        cursor: pointer;
        padding: 1em;
        text-decoration: none;
        color: #FF0066;
        border-radius: 10px;}
        .navbar ul li a:hover{
            background-color: rgba(255, 0, 102, .3);
            border-radius: 5px;
            padding: 1em;
            color: white;
            transition: 350ms;}

    .btn-menu img{display:none;}
    .navbar .menu h3{display: none;}

/* CONFIG FOOTER */
footer{
    width: 100vw;
    height: 15%;
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 10em;
    position: absolute;
    background-color: black;}
    footer .redes-sociales{
        margin-left: auto;
        margin-right: auto;}
    footer .redes-sociales ul li svg {
        width: 3.5em;
        padding: 5px;
        border-radius: 5px;
        border-bottom: 5px solid black;
        color: #474747;}
        footer ul li svg:hover{
            transition: 500ms;
            border-radius: 5px;
            border-bottom: 5px solid #FF0066;
            color: #DCDCDC;}
        footer ul li {
            cursor: pointer;
            display: inline-flex;
            margin: 15px 15px;}

@media screen and (max-width: 1230px) {
    .navbar{
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        z-index: 1;}

    .navbar .menu h3{display: block;}


    .navbar .btn-menu img{
        display:block;
        position: fixed;
        top: 5px;
        margin-left: 85%;
        cursor: pointer;
        padding: 1em;
        width: 8%;}

        .navbar ul{
            text-align: center;
            position: fixed;
            width: 100%;
            height: 250vw;
            background-color: black;
            align-items: center;
            margin-left: 0%;
            margin-right: 0%;
            padding-top: 5em;
            font-size: 1em;
            display: none;}

            .navbar ul li{
                padding-top: 1.5em;
                padding-bottom: 1.5em;}


    footer{
        width: 100%;
        height: 25%;
        display: flex;
        list-style: none;
        align-items: center;
        margin-top: 10em;}
        footer .redes-sociales{
            margin-left: auto;
            margin-right: auto;}
        footer .redes-sociales ul li svg {
            width: 3em;
            padding: 5px;}
            footer ul li svg:hover{
                transition: 500ms;
                border-radius: 5px;
                border-bottom: 5px solid #FF0066;
                color: #DCDCDC;}
            footer ul li {
                cursor: pointer;
                display: inline-flex;
                margin: 15px 15px;}

}

@media screen and (max-width: 800px) {

    footer{
        width: 100vw;
        height: 25%;
        display: flex;
        list-style: none;
        align-items: center;
        margin-top: 10em;}
        footer .redes-sociales{
            margin-left: auto;
            margin-right: auto;}
        footer .redes-sociales ul li svg {
            width: 3em;
            padding: 5px;}
            footer ul li svg:hover{
                transition: 500ms;
                border-radius: 5px;
                border-bottom: 5px solid #FF0066;
                color: #DCDCDC;}
            footer ul li {
                cursor: pointer;
                display: inline-flex;
                margin: 15px 15px;}

}