:root{
    --azul_1: rgb(9, 0, 103);
    --azul_1t: rgba(9, 0, 103, .9);
    --azul_2: rgb(4, 150, 255);
    --gris_1: rgb(245, 245, 245);
    --gris_2: rgb(77, 77, 77);}

*{
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;}

html{width: 100%;}

/* CONFIG NAVBAR */
.menu-movil{display: none;}
.name-app{display: none;}

.header{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 2em;
    padding-bottom: .5em;}

    .logo{
        font-size: 1.5em;
        text-align: center;}

        .logo a{
            text-decoration: none;}

    .navbar{text-align: right;}

    .navbar .menu{
        display:inline-flex;
        padding-right: 5em;}

        .menu li{
            list-style: none;
            padding: 0em 1.5em 0em 0em;
            font-size: .9em;}

            .menu li a{
                text-decoration: none;
                color: var(--azul_1);
                padding: .8em;
                border-radius: 3px;
                border-bottom: solid 5px white;}

            .menu li a:hover{
                border-bottom: solid 5px var(--azul_2);
                background-color: var(--gris_1);
                transition: 800ms;
                border-radius: 4px;}

@media (max-width: 1461px){
    .navbar .menu{padding-right: 2em;}

        .menu li{padding: 0em 1em 0em 0em; font-size: .9em;}
}

@media (max-width: 1185px){
    .navbar .menu{padding-right: 2em;}

        .menu li{padding: 0em 1em 0em 0em; font-size: .8em;}
}

@media (max-width: 1060px){
    .navbar .menu{padding-right: 2em;}

        .menu li{padding: 0em .8em 0em 0em; font-size: .7em;}
}

@media (max-width: 901px){
    .navbar .menu{padding-right: 1em;}

        .menu li{padding: 0em .5em 0em 0em; font-size: .65em;}
}

@media (max-width: 781px){
    .navbar .menu{padding-right: .5em;}

        .menu li{padding: 0em .3em 0em 0em; font-size: .60em;}
}

/*? VERSIﾃ誰 Mﾃ天IL */
@media (max-width: 686px){
    /* CONFIG NAVBAR */
    .menu-movil{
        display: block;
        padding-top: .5em;
        text-align: right;
        padding-right: .3em;
        font-size: 2em;}

    #open-menu{display: block;}
    #close-menu{display: none;}

    .name-app{display: block;}

    .logo{
        margin-top: 1em;
        display: none;}

    .header{
        display: block;
        padding-top: 0em;
        padding-bottom: 1em;}

        .navbar{text-align: center;}

        .navbar .menu{
            position: fixed;
            background-color: var(--azul_1t);
            height: 100%;
            width: 80%;
            margin-left: 20%;
            display:none;
            padding: 3em 0em 0em 0em;
            border-radius: 8px;}

            .menu li{
                list-style: none;
                padding: .8em 0em .8em 0em;
                font-size: 1.3em;}

                .menu li a{
                    color: white;
                    border-radius: 0;
                    border-bottom: solid 0px var(--azul_1);}

                .menu li p{display: none;}

                .menu li:hover{
                    background-color:var(--azul_2);
                    transition: 500ms;
                    border-radius: 4px;}
}

/*! HEIGHT*/
/*? VERSIﾃ誰 Mﾃ天IL */
@media (max-height: 400px){
    /* CONFIG NAVBAR */
    .menu-movil{
        display: block;
        padding-top: .5em;
        text-align: right;
        padding-right: .3em;
        font-size: 2em;}

    #open-menu{display: block;}
    #close-menu{display: none;}

    .name-app{display: block;}

    .logo{
        margin-top: 1em;
        display: none;}

    .header{
        display: block;
        padding-top: 0em;
        padding-bottom: 1em;}

        .navbar{text-align: center;}

        .navbar .menu{
            position: fixed;
            height: 100%;
            width: 80%;
            margin-left: 20%;
            display:none;
            padding: 3em 0em 0em 0em;
            border-radius: 8px;}

            .menu li{
                font-size: .65em;}
}