{% extends "layout.html" %}
{% block content %}

<!-- Style -->
<link rel="stylesheet" href="/static/css/home.css">

<main class="container">
    <!-- INICIO -->
    <div class="inicio">
        <h1>
            Ábrete la puerta al mundo y <span style="color: var(--azul_2); font-family: 'Edu VIC WA NT Beginner', cursive;;">no te pongas límites ...</span>
        </h1>
        <a href="#">
            <button>DESCUBRE COMO</button>
        </a>
    </div><!-- end inicio -->

    <div class="servicio">
        <h2>Servicios de Desarrollo Web y Diseño Gráfico</h2>
        <p>Todo a tu alcance</p>
    </div>

</main>

{% endblock %}