{% extends "layout.html" %}
{% block content %}

<!-- ICONS SERVICE -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- Style -->
<link rel="stylesheet" href="/static/css/home.css">

<!-- SCRIPTS -->
<script src="/static/js/home.js"></script>

<main class="container">
    <!-- ++++++++++++ INICIO ++++++++++++-->
    <div class="inicio">
        <h1>
            Ábrete la puerta al mundo y
            <span style="color: var(--azul_2); font-family: 'Poppins', sans-serif;">
                no te pongas límites ...
            </span>
        </h1>
        <a href="{{ url_for('servicios') }}">
            <button>
                DESCUBRE COMO
            </button>
        </a>
    </div><!-- end inicio -->

    <!-- SERVICE TITLE -->
    <div class="servicio">
        <h2>
            Servicios de Desarrollo Web y Diseño Gráfico
        </h2>
        <p>
            Todo a tu alcance
        </p>
    </div>

    <!-- ++++++++++++ SERVICE PACK ++++++++++++ -->
    <div class="service-pack">
        <!-- Pack Service Desarrollo web Comercial-->
        <div class="pack">
            <div class="icon">
                <span class="material-symbols-outlined">
                    travel_explore
                </span>
            </div>
            <div>
                <h3>
                    Desarrollo Web Comercial
                </h3>
                <p>
                    Con este servicio puedes tener tu sitio web totalmente personalizado,
                    no tienes que preocuparte si tienes o no un diseño ya pensado, contamos con un diseñador
                    gráfico que te ayudará a crear tu propia marca con estilos únicos a corde lo que tu negocio
                    necesita proyectar.
                    <br><br>
                    Utilizamos las tecnologías más avanzadas para que tu sitio sea funcional 100% a las necesidades
                    que requieres, está diseñado para dispositivos móviles, tabletas y PC.
                    <br><br>
                    Muestrale al mundo quien eres con un sitio Web Comercial y potencializa tu ngocio al
                    máximo.
                </p>
            </div>
            <div>
                <a href="">
                    <button>
                        VER DETALLE
                    </button>
                </a>
            </div>
        </div> <!-- end service web Comercial -->

        <!-- Pack Service Diseño Gràfico-->
        <div class="pack">
            <div class="icon">
                <span class="material-symbols-outlined">
                    camera
                </span>
            </div>
            <div>
                <h3>
                    Diseño Gráfico
                </h3>
                <p>
                    Si necesitas un Diseñador Gráfico profesional que pueda orientar y ayudarte a crear
                    esa comunicación visual que necesita tu negocio o estrategia de Marketing, estás en el lugar
                    correcto, nosotros te ofrecemos, logotipos, bocetos, banners, edición de imágenes,
                    carteles y mucho más..
                </p>
            </div>
            <div>
                <a href="">
                    <button>
                        VER DETALLE
                    </button>
                </a>
            </div>
        </div> <!-- end service diseño gràfico -->

        <!-- Pack Service Redes Sociales-->
        <div class="pack">
            <div class="icon">
                <span class="material-symbols-outlined">
                    thumb_up
                </span>
            </div>
            <div>
                <h3>
                    Redes Sociales
                </h3>
                <p>
                    Si no sabes como o no tienes tiempo de crear tus estrategias comerciales en redes sociales,
                    nosotros lo hacemos por ti, potencializa tus ventas en Facebook y llega a mucho más gente
                    de la que te puedes imaginar, creamos a tu medida, una estrategia comercial que sin duda
                    acelarará tus ventas.
                    <br><br>
                    Si no cuentas con Redes Sociales no te preocupes, nosotros las creamos y damos mantenimiento
                    por tí, no te limites con la interacción con tus cientes, con las Redes Sociales puedes
                    intensificar tus ventas al instante (Facebook, Tiwter, Instagram y Youtube).
                    <br><br>

                </p>
            </div>
            <div>
                <a href="">
                    <button>
                        VER DETALLE
                    </button>
                </a>
            </div>
        </div> <!-- end service redes sociales -->

        <!-- Pack Service  Desarrollo web Empresarial-->
        <div class="pack">
            <div class="icon">
                <span class="material-symbols-outlined">
                    language
                </span>
            </div>
            <div>
                <h3>
                    Desarrollo web Empresarial
                </h3>
                <p>
                    Si tu necesidad es sistematizar tu negocio o empresa con la necesidad de integrar un Work Flow sistematizado
                    con necesidad de manejo de Base de Datos y monitorear tu productividad con KPIs que te ayuden
                    ayuden a la toma de desiciones, nosotros te automatizamos los procesos de tu empresa.
                    <br><br>
                    Contamos con más de 10 años de experiencia en el diseño de procesos sistematizados que
                    ayudarán a tu negocio a ser mucho más eficiente y evitar perdidas de información o de tiempo
                    por un proceso manual mal ejecutado.
                </p>
            </div>
            <div>
                <a href="">
                    <button>
                        VER DETALLE
                    </button>
                </a>
            </div>
        </div> <!-- end service web empresarial -->

        <!-- Pack Service Mantenimiento Web-->
        <div class="pack">
            <div class="icon">
                <span class="material-symbols-outlined">
                    engineering
                </span>
            </div>
            <div>
                <h3>
                    Mantenimiento Web
                </h3>
                <p>
                    Si creaste tu Web con nosotros o ya tienes una y necesita mantenimiento, nosotros tenemos la solución,
                    te brindamos un servicio de cambios o ajustes que necesite tu Sito Web.
                    <br><br>
                    Manejamos planes que se ajustan a tus necesidades para que tu sitio siempre se encuentre
                    actualizado.
                </p>
            </div>
            <div>
                <a href="">
                    <button>
                        VER DETALLE
                    </button>
                </a>
            </div>
        </div> <!-- end service mantenimiento web -->
    </div> <!-- end service pack -->

    <!-- ++++++++++++ POR QUE SI TENER UNA PÁGIA WEB ++++++++++++-->
    <!-- TENER PÁGINA WEB TITLE -->
    <br><br><br><br><br><br>
    <div class="servicio">
        <h2>
            ¿Por que si tener una página web?
        </h2>
        <p>
            Descubre tu potencial
        </p>
    </div> <!-- end servicio title -->

    <!-- cajas de servicio -->
    <div class="container-tener-pagina">
        <!-- BOX Descubre tu negocio -->
        <div class="caja-razon-gral">
            <div class="caja-razon"
                 onclick="despliegue('descubre')">
                <p>
                    Descubre el alcance de tu negocio
                </p>
            </div> <!-- end tener página -->
            <div class="description" id="description-descubre">
                <p>
                    Tener presencia digital se ha vuelto tan importante durante los últimos tiempos,
                    que pareciera que si una empresa no está en internet, prácticamente no existe….
                    <br><br>
                    No es que no exista ligeramente, pero el los negocios, estrategias de mercado,
                    marketing, etc.. Ahora se mueven en internet, si tu negocio aún no esta dentro de
                    este MUNDO, prácticamente te estás perdiendo de  todas las ventajas que tiene estar allí…
                    <br><br>
                    Por eso <strong style="color: rgb(4, 150, 255);">Kimichi Code</strong> es una empresa que ayuda a la tuya a posicionarte en este mercado..
                </p>
            </div>
        </div> <!-- end BOX Descubre tu negocio -->

        <!-- BOX Ventajas -->
        <div class="caja-razon-gral">
            <div class="caja-razon"
                 onclick="despliegue('ventajas')">
                <p>
                    Ventajas de tener un sitio web
                </p>
            </div> <!-- end tener página -->
            <div class="description" id="description-ventajas">
                <p>
                    No necesitas vender nada por internet para aprovechar sus grandes bondades, el simple
                    hecho de hacer presencia en la web, te da la oportunidad de darte a conocer en el mundo
                    literalmente, el internet no tiene límites!
                    <br><br><br>
                    <ul>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> No es tan caro como crees.</li>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> Das mejor servicio al cliente.</li>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> Impulsas las ventas de tu negocio.</li>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> Tienes mayo visibilidad.</li>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> Le das mayor credibilidad a tu negocio.</li>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> Está disponible las 24 hrs del día</li>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> Tienes tu propia identidad.</li>
                        <li><strong style="color: rgb(4, 150, 255);">+</strong> Es la vitrina para tus productos o servicios.</li>
                    </ul>
                </p>
            </div>
        </div> <!-- end BOX Ventajas -->

        <!-- BOX giro de tu negocio -->
        <div class="caja-razon-gral">
            <div class="caja-razon"
                 onclick="despliegue('negocio')">
                <p>
                    No importa el giro de tu negocio
                </p>
            </div> <!-- end tener página -->
            <div class="description" id="description-negocio">
                <p>
                    Si crees que tu negocio no entra en el mundo del internet, te equivocas…
                    <br><br>
                    Actualmente todas las personas, por medio de sus móviles, tablets o computadoras,
                    buscan cualquier cosa en internet, ya sea en redes sociales, páginas web,
                    videos en Youtube, etc… y es ahí en donde un cliente puede encontrar algo de que
                    le interese y tú o tu negocio lo tenga…
                    <br><br>
                    ¡Esa es la oportunidad que te pierdes si tu negocio no está en internet!
                    <br><br>
                    <strong style="color: rgb(4, 150, 255);">Kimichi Code</strong> ofrece servicios de desarrollo web y creación y/o mantenimiento de
                    Redes Sociales para tu negocio, y te brinda la mejor asesoría para poder concretar tu diseño..
                </p>
            </div>
        </div> <!-- end BOX giro de tu negocio -->
    </div>

</main>

{% endblock %}
